.ControlBar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  transition: opacity .25s; }

.Slideshow[data-ui="false"] .ControlBar {
  opacity: 0; }

.Slideshow[data-ui="false"] .ControlBar:hover {
  opacity: 1; }

.Control {
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.15s; }

.Control:hover {
  opacity: 1; }

.Control-toggle {
  border: 2px solid black;
  display: flex;
  padding: 3px 5px;
  border-radius: 10px; }

.Control-toggle.is-off {
  justify-content: flex-end; }

.Control-toggle {
  width: 60px;
  position: relative; }

.Slideshow[data-night-mode="true"] .Control-toggle {
  border-color: white; }

.Control-toggleSlider {
  width: 13px;
  height: 13px;
  background-color: black;
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 50%;
  transition: right .15s; }

.Slideshow[data-night-mode="true"] .Control-toggleSlider {
  background-color: white; }

.Control-toggle.is-off .Control-toggleSlider {
  right: calc(100% - 15px);
  top: 2px; }

.Control-toggle .Control-label {
  font-size: 10px;
  font-weight: bold; }

.Control-label--on {
  margin-left: 3px; }

.Control-toggle.is-off .Control-label--on {
  display: none; }

.Control-toggle.is-on .Control-label--off {
  display: none; }

.Control-icon {
  height: 30px;
  width: 30px;
  display: block;
  background-size: contain; }

.Slideshow[data-night-mode="false"] .ControlBar {
  color: black; }

.Slideshow[data-night-mode="true"] .Control-icon--close {
  background-image: url("./assets/icon-close-white.svg"); }

.Slideshow[data-night-mode="false"] .Control-icon--close {
  background-image: url("./assets/icon-close-black.svg"); }

.Slideshow[data-night-mode="true"] .Control-icon--night {
  display: none; }

.Slideshow[data-night-mode="false"] .Control-icon--night {
  background-image: url("./assets/icon-night.svg"); }

.Slideshow[data-night-mode="true"] .Control-icon--day {
  background-image: url("./assets/icon-day.svg"); }

.Slideshow[data-night-mode="false"] .Control-icon--day {
  display: none; }
