/* CONTROL BAR */

.ControlBar {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    transition: opacity .25s;
}

    [data-night-mode="false"] .ControlBar {
        color: black;
    }

    [data-ui="false"] .ControlBar {
        opacity: 0;
    }

    [data-ui="false"] .ControlBar:hover {
        opacity: 1;
    }


/* TITLE */

.ControlBar-channelTitle {
    display: flex;
    font-size: var(--sm-font-size);
    justify-content: center;
    align-items: center;
}

.ControlBar-logo {
    height: 1.75em;
    width: auto;
    margin-right: .25em;
    }

    [data-night-mode="true"] .ControlBar-logo--black {
        display: none;
    }

    [data-night-mode="false"] .ControlBar-logo--white {
        display: none;
    }


/* GROUP */

.ControlBar-group {
    flex: 1;
    display: flex;
}

    .ControlBar-group:last-child {
        justify-content: flex-end;
    }

.ControlBar-group--channelTitle {
    justify-content: center;
    align-items: center;
}


/* CONTROL  */

.Control {
    cursor: pointer;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.15s;
}

    .Control:hover {
        opacity: 1;
    }

.Control--share {
    position: relative;
}


/* TOGGLE  */

.Control-toggle {
    border: 2px solid black;
    display: flex;
    padding: 3px 5px;
    border-radius: 10px;
    width: 60px;
    position: relative;
    font-size: 10px;
}

    .Control-toggle.is-off {
        justify-content: flex-end;
    }

    [data-night-mode="true"] .Control-toggle {
        border-color: white;
    }


/* TOGGLE SLIDER */

.Control-toggleSlider {
    width: 13px;
    height: 13px;
    background-color: black;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 50%;
    transition: right .15s;
}

    .Control-toggle.is-off .Control-toggleSlider {
        right: calc(100% - 15px);
        top: 2px;
    }

    [data-night-mode="true"] .Control-toggleSlider {
        background-color: white;
    }


/* CONTROL LABEL */

.Control-label {
    font-size: 10px;
    font-weight: bold;
}

.Control-label--on {
    margin-left: 3px;
}

    .Control-toggle.is-off .Control-label--on {
        display: none;
    }

    .Control-toggle.is-on .Control-label--off {
        display: none;
    }

.Control-label--copied {
    opacity: 0;
    transform: translateY(25%);
    transition: 0.25s opacity, 0.25s transform;
    position: absolute;
    right: 100%;
    pointer-events: none;
}

    .Control-label--copied.is-active {
        opacity: 1;
        transform: translateY(0%);
    }

    [data-night-mode="true"] .ControlBar-label--copied {
        color: white;
        background-color: black;
    }

    [data-night-mode="false"] .ControlBar-label--copied {
        color: black;
        background-color: white;
    }


/* CONTROL ICON */

.Control-icon {
    height: 30px;
    width: 30px;
    display: block;
    background-size: contain;
}

.Control-icon--night {
    background-image: url('./assets/icon-night.svg');
}

    [data-night-mode="true"] .Control-icon--night {
        display: none;
    }

.Control-icon--day {
    background-image: url('./assets/icon-day.svg');
}

    [data-night-mode="false"] .Control-icon--day {
        display: none;
    }

[data-night-mode="true"] .Control-icon--close {
    background-image: url('./assets/icon-close-white.svg');
}

[data-night-mode="false"] .Control-icon--close {
    background-image: url('./assets/icon-close-black.svg');
}

[data-night-mode="true"] .Control-icon--share {
    background-image: url('./assets/icon-share-white.svg');
}

[data-night-mode="false"] .Control-icon--share {
    background-image: url('./assets/icon-share-black.svg');
}
