/* SHARED */


.Slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    position: relative;
    user-select: none;
}

.Slide:not(.is-active) {
    display: none;
}

.Slide img {
    max-height: 100%;
    object-fit: contain;
    background-color: rgba(125,125,125,0.05);
}

.Slide iframe {
    max-height: 100%;
    width: 800px;
    height: 600px;
}

.Slide-title {
    max-width: 100%;
    font-size: var(--sm-font-size);
    font-weight: normal;
}

.Slide-spacer {
    flex: 1;
}

.Slide-link {
    display: block;
}

.Slide-icon {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.Slide-icon--download {
    bottom: 50px;
    right: 50px;
}

.Slide-icon--link {
    bottom: 10px;
    right: 10px;
}


/* CHANNEL SLIDE */


.Slide-link--channel {
    width: 425px;
    height: 425px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 3px solid;
    border-color: rgba(23,172,16,0.5);
    color: rgb(23,172,16);
}

.Slide-link--channel:hover {
    border-color: rgba(23,172,16,1);
}

.Slide-link--channel.is-closed {
    border-color: rgba(72,62,100,0.5);
    color: rgb(72,62,100);
}

.Slide-link--channel.is-closed:hover {
    border-color: rgba(72,62,100,1);
}

.Slide-channelTitle {
    flex: 0;
    font-weight: normal;
}

.Slide-channelStatList {
    font-size: var(--sm-font-size);
    flex: 1;
    padding: 0;
    list-style: none;
}


/* TEXT SLIDE */


.Slide-textBlock {
    font-family: Times, serif; 
    max-width: 800px;
    line-height: 1.5;
    max-height: 100%;
    user-select: text;
    cursor: text;
    font-size: var(--md-font-size);
}

/* NONDESCRIPT MEDIA SLIDE */


.Slide-mediaStamp {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    width: 425px;
    height: 425px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    position: relative;
    z-index: 2;
    border-left: 5px solid var(--dark-grey);
    border-bottom: 5px solid var(--dark-grey);
}


.Slide-mediaExtension {
    text-transform: uppercase;
    font-size: var(--xl-font-size);
    font-weight: normal;
}

.Slide-mediaTitle {
    flex: 1;
    font-size: var(--sm-font-size);
    font-weight: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* WEB SLIDE */

.Slide-link--web {
    max-width: 500px;
    text-align: center;
    position: relative;
}

.Slide-link--web .Slide-title {
    opacity: 0.5;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.Slide-link--web:hover .Slide-title {
    opacity: 1;
}